
@{
    /**/

    Layout = "~/Views/Shared/_RuinvestBase.cshtml";
}

<div class="label-deposits revealator-once revealator-zoomin revealator-duration30 revealator-delay5 ">
    <div>
        @if (ViewBag.Deposits != null && ViewBag.Deposits.Count > 0)
        {
            <span>Список открытых и закрытых вкладов</span>
        }
        else
        {
            <span>У вас пока нет вкалдов</span>
        }

    </div>
</div>

@if (ViewBag.Deposits != null && ViewBag.Deposits.Count > 0)
{
    <div class="deposit-list">
        <div class="deposit-item deposit-item-header ">
            <div id="deposit-item-date" class="deposit-item-partial">
                <i class="glyphicon glyphicon-hourglass"></i>
                <div>Период<br>инвестирования</div>
            </div>
            <div id="deposit-item-amount" class="deposit-item-partial">
                <i class="glyphicon glyphicon-ruble"></i>
                <div>Сумма вклада и<br>итоговая суммая</div>
            </div>
            <div id="deposit-item-percent" class="deposit-item-partial">
                <i class="glyphicon glyphicon-upload"></i>
                <div>Процент вклада</div>
            </div>
            <div id="deposit-item-current-amount" class="deposit-item-partial">
                <i class="glyphicon glyphicon-piggy-bank"></i>
                <div>Заработано</div>
            </div>

            <div id="deposit-item-status" class="deposit-item-partial">
                <i class="glyphicon glyphicon-refresh"> </i>
                <div>Статус вклада</div>
            </div>
        </div>

        @foreach (var deposit in ViewBag.Deposits)
        {
            
            var successDepositObj = new
            {
                Active = deposit.Status == StatusDeposit.Active,
                ClassCss = deposit.Status == StatusDeposit.Finished ? "success-deposit" : ""
            };
            
            <div class="deposit-item @successDepositObj.ClassCss ">
                <div id="deposit-item-date" class="deposit-item-partial">
                    <div class="deposit-item-container">
                        <div class="deposit-indicator">
                            @if (successDepositObj.Active)
                            {
                                <i class="glyphicon glyphicon-hourglass refresh"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-check"></i>
                            }
                        </div>
                        <div class="deposit-period">
                            <div class="deposit-item-start">
                                @deposit.StartDate.ToString("d MMMM yyyy HH:mm")
                            </div>
                            <div class="deposit-item-end">
                                @deposit.EndDate.ToString("d MMMM yyyy HH:mm")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deposit-item-amount" class="deposit-item-partial">
                    <div class="deposit-item-start">
                        @deposit.StartAmount руб.
                    </div>
                    <div class="deposit-item-end">
                        @deposit.EndAmount руб.
                    </div>
                </div>
                <div id="deposit-item-percent" class="deposit-item-partial">
                    @deposit.Percent%
                </div>
                <div id="deposit-item-current-amount" class="deposit-item-partial">
                    @deposit.InterimAmount руб.
                </div>

                <div id="deposit-item-status" class="deposit-item-partial">
                    @if (successDepositObj.Active)
                    {
                        <span>Активный</span>
                    }
                    else
                    {
                        <span>Завершен</span>
                    }
                </div>
            </div>
        }
    </div>
}

