
@{
    /**/

    Layout = "~/Views/Shared/_RuinvestBase.cshtml";
}

<div class="label-deposits revealator-once revealator-slideup revealator-duration30 revealator-delay1 ">
    <div>
        @if (ViewBag.Deposits != null && ViewBag.Deposits.Any())
        {
            <span>Список открытых и закрытых вкладов</span>
        }
        else
        {
            <span>Вы пока нет вкалдов</span>
        }

    </div>
</div>

@if (ViewBag.Deposits != null && ViewBag.Deposits.Any())
{
    <div class="deposit-list">
        <div class="deposit-item deposit-item-header ">
            <div id="deposit-item-date" class="deposit-item-partial">
                <i class="glyphicon glyphicon-hourglass"></i>
                <div>Период<br>инвестирования</div>
            </div>
            <div id="deposit-item-amount" class="deposit-item-partial">
                <i class="glyphicon glyphicon-ruble"></i>
                <div>Сумма вклада и<br>итоговая суммая</div>
            </div>
            <div id="deposit-item-percent" class="deposit-item-partial">
                <i class="glyphicon glyphicon-upload"></i>
                <div>Процент вклада</div>
            </div>
            <div id="deposit-item-current-amount" class="deposit-item-partial">
                <i class="glyphicon glyphicon-piggy-bank"></i>
                <div>Заработано</div>
            </div>

            <div id="deposit-item-status" class="deposit-item-partial">
                <i class="glyphicon glyphicon-refresh"> </i>
                <div>Статус вклада</div>
            </div>
        </div>

        @foreach (var deposits in ViewBag.Deposits)
        {
            <div class="deposit-item">
                <div id="deposit-item-date" class="deposit-item-partial">
                    <div class="deposit-item-container">
                        <div class="deposit-indicator">
                            <i class="glyphicon glyphicon-hourglass refresh"></i>
                        </div>
                        <div class="deposit-period">
                            <div class="deposit-item-start">
                                @deposits.StartDate.ToString("d MMMM yyyy HH:mm");
                            </div>
                            <div class="deposit-item-end">
                                @deposits.EndDate.ToString("d MMMM yyyy HH:mm");
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deposit-item-amount" class="deposit-item-partial">
                    <div class="deposit-item-start">
                        @deposits.StartAmount руб.
                    </div>
                    <div class="deposit-item-end">
                        @deposits.EndAmount руб.
                    </div>
                </div>
                <div id="deposit-item-percent" class="deposit-item-partial">
                    @deposits.Percent%
                </div>
                <div id="deposit-item-current-amount" class="deposit-item-partial">
                    @deposits.InterimAmount руб.
                </div>

                <div id="deposit-item-status" class="deposit-item-partial">
                    @{
                        @deposits.InterimAmount == StatusDeposit.Active ? "Активный" : "Завершен";
                    }
                </div>
            </div>
        }
    </div>
}

